<!-- 403: FORBIDDEN RESPONSE -->
<section class="jumbotron text-center">
    <div class="container">
        @{
            <h1 class="display-3">Registreret!</h1>
        }
        <br />
        <p class="lead text-muted">
            Du er blevet oprettet i vores system.
        </p>
    </div>
</section>